.animation{
    transform-origin: 50% 50% 0px;
    animation-name: ImgRatate3danimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes ImgRatate3danimation{
    50%{transform:rotate3d(2,0,1, 180deg);}
    100%{transform:rotate3d(2,0,1, 360deg);}
}